
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


:root{
    --color-one:#103178;
    --color-two:#FFC800;
    --color-text:#5B6C8E;

    --font:'Irina Serif', serif;
} 
a{
    text-decoration: none;
}
body{
    font-family: var(--font);
}
*{
    box-sizing: border-box;
}